





<div class="contenedor-acerca">

    <div class="habilidades">

        <img src="assets/bola-habilidades.svg" alt="bola rellena de iconos de tecnologias que manejo">   
       
    
    </div>




    <div class="acerca-de-mi">


        <header>
            
            <img src="assets/foto-graduacion.svg" alt="foto de Enmanuel">

            <div class="contenido">


                <h1>"Somos lo que hacemos día a día. De modo que la excelencia no es un acto sino un hábito." <br><br> - Aristóteles</h1>

                <p>Soy un desarrollador frontend de República Dominicana totalmente apasionado por las tecnologías web. Siempre enfocado
                    en superarme cada día para desarrollar sitios webs y aplicaciones más usables, dinámicas y llamativas.  
                </p>

            </div>
            

        </header>

        <main>

            <section class="virtudes">

                <img src="assets/aboutme.svg" alt="imagen de acerca de mis virtudes">

                <article>
                    <ul class="virtudes-izquierda">
                        <li>Responsabilidad</li>
                        <li>Integridad</li>
                        <li>Respeto</li>
                        <li>Tolerancia</li>
                    </ul>
                    
                    <header>
                        <h1>Virtudes</h1>

                        <p>Una lista de aquellas que practico en mi vida personal y profesional.</p>
                    </header>

                    <ul class="virtudes-derecha">
                        <li>Empatía</li>
                        <li>Calidad</li>
                        <li>Credibilidad</li>
                        <li>Perseverancia</li>
                    </ul>
                    

                    
                </article>
            </section>

        </main>
        
        
    </div>
    
</div>

