.contacto-container{

    width: 100%;
    height: 100%;
    margin: 10vh auto;


    .mensaje-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        .mensaje-enviado{
            margin: auto;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: aliceblue;
            border-radius: 10px;
            color: rgb(111, 194, 3);
    
            img{
                width: 30%;
                margin: 2vh auto;
            }
    
            p{
                font-size: 3vmin;
                margin: 2vh auto;
            }
        }
        
    }

    


    h1{
        display: flex;
        justify-content: center;
        margin: 1rem auto;  
        font-size: 5vmin;
        width: fit-content;
    }
}





form{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

    

    label{
        width: 70%;
        font-size: 3vmin;
        margin: 2vmin;
        padding: .5rem;

        input{
            background-color: rgb(224, 224, 224);
            padding: .5rem;
            width: 100%;
            margin: 1vh auto;
            border-radius: 5px;
            font-size: 3vmin;
            
        }

        input:focus{
            border: 5px groove rgb(111, 194, 3);
            
        }
    }

    textarea{
        background-color: rgb(224, 224, 224);
        padding: .5rem;
        width: 100%;
        margin: 1vh auto;
        border-radius: 5px;
        font-size: 3vmin;
    }

    textarea:focus{
        border: 1vmin groove rgb(111, 194, 3);
    }

    div{
        width: 50%;
        display: block;
        padding: .5rem;
        

    }



    button{
        margin: 0 auto;
        background-color: rgb(111, 194, 3);
        color: aliceblue;
        width: 100%;
        font-size: 3vmin;
        width: fill;
        border-radius: 5px;
        padding: .5rem;
        cursor: pointer;
        
    }
}