

<form action="mailto:enmanuelfeliz106@gmail.com" id="formulario" method="POST">


    <label>Tu Nombre
        <input type="text" name="nombre" required>
    </label>

    <label>Tu Email
        <input type="email" name="email" required>
    </label>

    <label>Asunto
        <input type="text" name="asunto" required>
    </label>

    <label>Mensaje

        <textarea name="mensaje" cols="30" rows="5" required></textarea>

    </label>

    <div >
        <button>Enviar</button>
    </div>

    
    
    
</form>