
<div class="bienvenida">
    <h1>Te doy la bienvenida <br> a mi portafolio</h1>
</div>

<header class="mensaje">
  <div class="close" (click)="cerrarMensaje()">
    X
  </div>
  <h1>Estos son algunos de los proyectos que estoy desarrollando actualmente (aún no terminados).</h1>
</header>


<div class="contenedor-trabajos">
    
    <div class="yamelitas">

      <div class="tecnologias-usadas">
        <img src="assets/tecnologias/html-icon.svg" alt="icono de html" title="html">
        <img src="assets/tecnologias/css-icon.svg" alt="icono de css" title="css">
        <img src="assets/tecnologias/typescript-icon.svg" alt="icono de typescript" title="typescript">
        <img src="assets/tecnologias/jquery-icon.svg" alt="icono de jquery" title="jquery">
        <img src="assets/tecnologias/firebase-icon.svg" alt="icono de firebase" title="firebase">
      </div>

      <video controls muted>
        <source src="assets/yamelitas-preview.mp4" type="video/mp4">
        
      </video>
    </div>

    <div class="mealsplan">

      <div class="tecnologias-usadas">
        <img src="assets/tecnologias/html-icon.svg" alt="icono de html" title="html">
        <img src="assets/tecnologias/css-icon.svg" alt="icono de css" title="css">
        <img src="assets/tecnologias/typescript-icon.svg" alt="icono de typescript" title="typescript">
        <img src="assets/tecnologias/jquery-icon.svg" alt="icono de jquery" title="jquery">
        <img src="assets/tecnologias/firebase-icon.svg" alt="icono de firebase" title="firebase">
        <img src="assets/tecnologias/ionic-icon.svg" alt="icono de ionic" title="ionic">
      </div>

      <div class="fotos">
        <img src="assets/mealsplan/1.jpg" alt="">
        <img src="assets/mealsplan/2.jpg" alt="">
        <img src="assets/mealsplan/3.jpg" alt="">
        <img src="assets/mealsplan/4.jpg" alt="">
        <img src="assets/mealsplan/5.jpg" alt="">
        <img src="assets/mealsplan/6.jpg" alt="">
        <img src="assets/mealsplan/7.jpg" alt="">
        <img src="assets/mealsplan/8.jpg" alt="">
        <img src="assets/mealsplan/9.jpg" alt="">
      </div>
    </div>



</div>


