

.bienvenida {
    z-index: 1500;
    backdrop-filter: blur(100px);
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    


    h1{
        font-size: 5vw;
        
    }
    
}


header.mensaje{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7vh 4vw;
    text-align: center;
    position: relative;

    .close{
        font-size: 2vw;
        color: rgb(211, 23, 23);
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: -30%;
    }

    h1{
        font-size: 2vw;
        color: aliceblue;
        pointer-events: none;
        background-color: rgb(0, 140, 255);
        border-radius: 10px;
        padding: .8rem;
        text-shadow: 2px 2px 10px black;
     
    }
}

.contenedor-trabajos{
    margin: 15vh auto;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    

    
}

main, article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 80%;

}

article{

    width: 100%;
    background-image: linear-gradient(to bottom, rgba(25, 25, 25, 1), rgba(40, 40, 40, 1));
    border: 1px solid rgba(40, 40, 40, 1);
    border-radius: .5rem;

    h1{
        width: 100%;
        margin: 0 auto .5rem auto;
        padding: .5rem 0;
        text-align: center;
        border-bottom: 1px solid black;
        background-image: radial-gradient(rgba(40, 40, 40, 1), rgba(20, 20, 20, 1));
        text-shadow: 1px 1px 10px rgb(199, 208, 216);
    }
    
    .swiper{
        width: 100%;
    }


    .imagen{
        width: 100%;
        border-radius: .5rem;
        
    }

    .imagen:hover{
        cursor: pointer;
    }

    .detalles-del-proyecto{



        display: grid;
        grid-template: 1fr / 1fr 1fr;

        .detalles-adicionales{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            .fecha{
                width: 80%;
                margin-bottom: .7rem;
            }

            .tecnologias{
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: .7rem;

                .tecnologia-img{
                    width: 25px;
                    margin: 0 .25rem;
                }
            }

            .url{
                display: flex;
                justify-content: center;
                width: 80%;
                background-color: rgb(0, 140, 255);
                border-radius: .5rem;

                a{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    text-decoration: none;
                    color: aliceblue;
                    font-size: 1.2rem;
                    font-weight: 500;
                    padding: .5rem 0;
                    text-shadow: 2px 2px 10px black;

                }
                
            }

        }

        .descripcion{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                padding: 1rem;
                border-left: 1px solid rgba(25, 25, 25, 1);
            }
        }
        

    }

    
    
}

@keyframes luz-creciente{

    0%{
        box-shadow: .5vw .5vh 10px grey, -.5vw -.5vh 10px grey;
    }

    50%{
        box-shadow: 2.5vw 2.5vh 10px rgb(87, 179, 255), -2.5vw -2.5vh 10px rgb(87, 179, 255);
        
    }

    100%{
        box-shadow: .5vw .5vh 10px grey, -.5vw -.5vh 10px grey;
    }
    
}

@keyframes luz-creciente-dentro{

    0%{
        box-shadow: 2vw 2vh 10px rgb(199, 199, 199) inset, -2vw -2vh 10px rgb(199, 199, 199) inset;
    }

    50%{
        box-shadow: 5vw 5vh 10px  rgb(87, 179, 255) inset, -5vw -5vh 10px  rgb(87, 179, 255) inset;
        
        
    }

    100%{
        box-shadow: 2vw 2vh 10px rgb(199, 199, 199) inset, -2vw -2vh 10px rgb(199, 199, 199) inset;
    }
    
}

@media screen and (max-width: 800px){
    header.mensaje{

    
        .close{
            font-size: 4vw;
            
        }
    
        h1{
            font-size: 4vw;
         
        }
    }

    .contenedor-trabajos{

        
        
    }

}



