


<header class="mensaje" id="mensaje">
  <div class="close" (click)="cerrarMensaje()">
    X
  </div>
  <h1>Estos son algunos de los proyectos que estoy desarrollando actualmente (aún no terminados).</h1>
</header>


<div class="contenedor-trabajos" id="contenedor-trabajos">
    
    <main>

      <article *ngFor = "let proyecto of proyectos">

        <h1>{{proyecto.nombre}}</h1>

        
        <swiper class="swiper"
          effect="cube"
          [slidesPerView]="1"
          [spaceBetween]="100"
          (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange()"
          
          [navigation]="true"
          [pagination]="swiper.pagination"
        >

        
          
          <ng-template swiperSlide *ngFor="let imagen of proyecto.imagenes; index as i"><img class="imagen" src="{{imagen}}" alt="{{proyecto.nombre}}" ></ng-template>
          

          
        </swiper>
       

        <div id="detalles-del-proyecto" class="detalles-del-proyecto">

          <div class="detalles-adicionales">

            <div class="fecha">
              <p>Fecha inicio: {{proyecto.fechaInicio}}</p>
            </div>

            <div class="tecnologias">
              <p>Tecnologias: </p> 
              <div *ngFor="let tecnologia of proyecto.tecnologias" [ngSwitch]="tecnologia">
                <img class="tecnologia-img" src="assets/tecnologias/html-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'html'">
                <img class="tecnologia-img" src="assets/tecnologias/css-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'css'">
                <img class="tecnologia-img" src="assets/tecnologias/javascript-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'javascript'">
                <img class="tecnologia-img" src="assets/tecnologias/typescript-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}"*ngSwitchCase="'typescript'">
                <img class="tecnologia-img" src="assets/tecnologias/angular-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'angular'">
                <img class="tecnologia-img" src="assets/tecnologias/firebase-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'firebase'">
                <img class="tecnologia-img" src="assets/tecnologias/ionic-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'ionic'">
                <img class="tecnologia-img" src="assets/tecnologias/nodejs-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'nodejs'">
                <img class="tecnologia-img" src="assets/tecnologias/python-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'python'">
                <img class="tecnologia-img" src="assets/tecnologias/jquery-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'jquery'">
                <img class="tecnologia-img" src="assets/tecnologias/bootstrap-icon.svg" alt="{{tecnologia}}" title="{{tecnologia}}" *ngSwitchCase="'bootstrap'">
                <div *ngSwitchDefault></div>
              </div>
              

            </div>

            <div class="url">
              <a href="http://yamelitas-store.web.app" target="_blank" rel="noopener noreferrer">Ver este proyecto</a>
            </div>

          </div>

          <div class="descripcion">
            <p>{{proyecto.descripcion}}</p>
          </div>
          

        </div>


        

        


        
      </article>
    

    
        


    </main>



</div>


