/* You can add global styles to this file, and also import other style files */

html{
    background: rgb(25, 25, 25);
    color: rgb(224, 224, 224);
}

:root{
    font-family: 'Cabin', sans-serif;
}