
.contenedor{
    display: flex;
    margin: 50px 10px;

    header{
        width: 60%;
        margin: 10px 10px;
    }

    nav{
        width: 40%;
        margin: 40px 10px;
    }
    
}

.mi_logo{
    width: 15%;
    margin-left: 150px;
}

ul{
    display: inline;
}

li{
    display: inline;
    margin: 10px;
    font-size: 1.4em;
    
    
    a{
        text-decoration: none;
        color: aliceblue;
    }

    a:hover{
        color: rgb(100, 200, 255);
    }

    a:active{
        color: blue;
    }
}

