


<div class="contenedor">
  <header>

  </header>
  
  <nav>
    <ul>
      <li><a routerLink="trabajos"><img src="assets/briefcase.png" alt="icono de trabajos"><p>Trabajos</p> </a></li>
      <li><a routerLink="acerca"><img src="assets/acercade.png" alt="icono de acerca de"><p> Acerca de</p></a></li>
      <li><a routerLink="cv"><img src="assets/cv.png" alt="icono de curriculum"><p>Curriculum</p> </a></li>
      <li><a routerLink="contacto"><img src="assets/contacto.png" alt="icono de contacto"><p>Contacto</p> </a></li>
    </ul>
  </nav>
  

</div>



<router-outlet></router-outlet>