
$small: 280px;
$small-medium: 480px;
$large: 1020px;

// small

.contenedor{
    margin-top: 2em;
    
    

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 10px;
        text-align: center;  
        
        @keyframes mi_descripcion {
            from {left: -800px;
                  top: -500px;
                  text-shadow: -50px 100px 0 rgb(214, 214, 214);}
            to {left: 0;
                top: 0;
                text-shadow: 2px 2px 10px grey;
                }
          }
        
        h1{
            position: relative;
            left: 0px;
            top: 0;
            animation: mi_descripcion 2s;
            font-size: 5vw;
            text-shadow: 2px 2px 10px grey;
            background-color: transparent;
            
        }
        
    }

    nav{

        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, rgba(107, 107, 107, 0.5), rgba(238, 238, 238, 0.5));
        height: 25vmin;
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        ul{
            display: flex;
            justify-items: center;
            align-items: center;
        }


        li{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .2em;
            font-size: 0.5em;
            list-style: none;
            flex: 1;
            text-align: center;
          
            
            a{  
                flex: 1;
                display: grid;
                grid-template: 1fr / 1fr;
                justify-content: center;
                justify-items: center;
                align-items: center;
                text-decoration: none;
                color: aliceblue;
                padding: .5em;
                
                p{
                    transform: scale(0);
                }

            }
        
        
            img{
                width: 50%;
                transition: box-shadow .5s;
                border-radius: 50%;
      
                    
            }
              
            a:active{
                color: blue;
            }

        }
        
        li:hover img{
            box-shadow: 2px 2px 10px rgb(0, 0, 0);
        }
        
    }
    
}




@media screen and (min-width: $small-medium){ //small-medium
    .contenedor{
        
        nav{
            
            height: 15vmin;
            
            

            li{
                a p {
                    font-size: 3vmin;
                    transform: scale(0);
                    transition: transform .5s;
                }

                img{
                    width: 30%;
                    transition: box-shadow .5s, transform .5s;
                    border-radius: 50%;
          
                        
                }

            }

            
            
            li:hover a p{
            
                transform: scale(1);
                text-shadow: 2px 2px 10px white;
            
            }
            
            li:hover img{
                box-shadow: 2px 2px 10px white;
                transform: rotate(360deg);
            }
            
        }
        
    }
    
    
    
    
}

@media screen and (min-width: $large) {
    .contenedor{
        margin-top: 2em;
        display: grid;
        grid-template: 1fr / repeat(2, 50% 50%);
        justify-items: center;
        align-items: center;
        
        nav{
            position: static;
            margin: 40px 10px;
            background-image: none;
            
            li{
                
                img{
                    width: 40%;
                    transition: box-shadow .5s, transform .5s;
                    border-radius: 50%;
          
                        
                }          
            
            
        
            }
            
        }
        
    }
    

}

