
.foto{
    width: 20%;
    margin: 20px auto;
}

header{
    
    display: inline;
    float: left;

}

ul{
    display: inline;
}

li{
    display: inline;
    margin: 10px;
    font-size: 1.4em;
    
    
    a{
        text-decoration: none;
        color: aliceblue;
    }

    a:hover{
        color: rgb(100, 200, 255);
    }

    a:active{
        color: blue;
    }
}

